// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
}
// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
}
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
   .banner-email {
      &__input-box {
         flex: none;
      }
      &__input {
         width: 334px;
      }
      &__content {
         flex-direction: column;
         padding: 30px;
      }
      &__descr {
         // max-width: ;
         margin-right: unset;
         margin-bottom: 20px;
         text-align: center;
      }
   }
   .page-main {
      .container {
         max-width: 485px;
      }
      &__content {
         padding-top: 40px;
      }
      &__descr {
         max-width: 290px;
      }
   }
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START
@media (max-width: 575.98px) {
   .result__bg {
      width: 763px;
      height: 763px;
      transform: translate(-50%, -31%);
   }
   .review {
      &__content {
         justify-content: flex-start;
      }
   }
   .banner-email {
      .container {
         padding: 0 10px;
      }
      &__content {
         padding: 20px 15px 10px;
      }
      &__input-box {
         margin: 0 auto;
         max-width: 334px;
         display: block;
      }
      &__input {
         width: 100%;
         margin-bottom: 8px;
      }
      &__btn {
         width: 100%;
      }
   }
}
// MAX-WIDTH 576.98PX breakpoints END
